$color_white             : #fff;
$color_white_trans       : rgba(0, 0, 0, 0.8);
$color_black             : #000;
$color_gray_default      : #90a4ae;

/*TEXT ALL*/
$color_txt_dark          :#4d4d4d;

$color_beach              : #00A2D1;
$color_gray_91            : #919191;

$color_green_default      : #008698;
$color_green_light        : rgba(68, 169, 183, 0.65);

$color_green_me           : #0BDBA3;
/*HOVER COLOR DEFAULT*/
//$color_hv_green_default  : mix($color_green_default, $color_black, 80%);
// $color_hv_gray_default   : mix($color_gray_default, $color_black, 80%);
// $color_hv_txt_dark       : mix($color_txt_dark, $color_black, 2%);