{
   "PATH_BASE"         : "https://www.valoresysentimiento.com",
   "PATH_BASE_API"     : "https://service.valoresysentimiento.com",
   "PATH_BASE_RESOURCE": "https://resources.valoresysentimiento.com",
   "LOCA_RESOURCES"    : ""
}

{
   "PATH_BASE"         : "http://localhost:8081",
   "PATH_BASE_API"     : "http://localhost:3000",
   "PATH_BASE_RESOURCE": "https://s3.amazonaws.com/resources.development.ginsoft",
   "LOCA_RESOURCES"    : ""
}
